{% extends '_base.html' %}

{% block title %} Edit Profile {% endblock title %}

{% block content %}

<div class="d-flex align-items-center justify-content-center bg-light py-5">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <div class="border-bottom pb-2 mb-4">
                    <h5 class="card-title">Edit Profile</h5>
                </div>  

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">
                            Save Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}