{% extends '_base.html' %}
{% load humanize %} 
{% load static %}
{% block title %} {{ profile_user.username }} {% endblock title %}
{% block content %}

<div class="my-4 mx-2 flex items-start space-x-4">
  {% if profile_user.image %}
    <img src="{{ profile_user.image.url }}" alt="user dp" width="75" height="75" class="rounded-full">
  {% else %}
    <img src="{% static 'img/user.png' %}" alt="404 img" width="75" height="75" class="rounded-full">
  {% endif %}

  <div class="flex flex-col space-y-2">
    <div class="flex space-x-8 text-center">
      <div>
        <span class="font-bold text-lg">{{ profile_user.book.all|length|intword|intcomma }}</span>
        <div class="text-gray-500 text-xs">Books</div>
      </div>
      <div>
        <span class="font-bold text-lg">{{ profile_user.followers.all|length|intword|intcomma }}</span>
        <div class="text-gray-500 text-xs">Followers</div>
      </div>
      <div>
        <span class="font-bold text-lg">{{ profile_user.following.all|length|intword|intcomma }}</span>
        <div class="text-gray-500 text-xs">Following</div>
      </div>
    </div>

    <div class="mt-2">
      {% if profile_user.id == request.user.id %}
        <a class="block w-full bg-blue-600 text-white text-center py-1.5 text-sm font-bold rounded hover:bg-blue-700 transition" 
           href="{% url 'edit_profile' profile_user.id %}">
          Edit
        </a>
      {% elif request.user.is_authenticated %}
        {% if profile_user in request.user.following.all %}
          <a hx-post="{% url 'follow' profile_user.id %}" 
             class="block text-center w-full bg-blue-600 text-white py-1.5 text-sm font-bold rounded hover:bg-blue-700 transition">
             <i class="bi bi-check-lg"></i> Following
          </a>
        {% else %}
          <a hx-post="{% url 'follow' profile_user.id %}" 
             class="block text-center w-full bg-blue-600 text-white py-1.5 text-sm font-bold rounded hover:bg-blue-700 transition">
             <i class="bi bi-plus"></i> Follow
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

<div class="mx-2">
  <h3 class="text-lg font-semibold">{{ profile_user.username }}</h3>
  <p>{% if profile_user.bio %} {{ profile_user.bio }} <br> {% endif %}</p>
</div>

<hr class="my-4"/>

{% if profile_user.id == request.user.id %}
  <div class="text-center my-4">
    <a class="border border-gray-500 text-gray-500 px-4 py-2 rounded-md hover:bg-gray-500 hover:text-white transition text-sm"
       href="{% url 'add_book' %}">
      Add Book
    </a>
  </div>
{% endif %}

{% if not books %}
  <div class="flex justify-center">
    <h4 class="text-gray-700">There is no book</h4>
  </div>
{% else %}
  {% for book in books %}
    {% include 'post/_post.html' %}
  {% endfor %}
{% endif %}

{% endblock content %}
