{% extends '_base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4">
  <div class="max-w-md w-full space-y-8 bg-white p-8 rounded-lg shadow-md">
    <div class="text-center">
      <h2 class="text-3xl font-bold text-gray-900">Log In</h2>
    </div>
    
    {% include "partial/base_form.html" with form=form submit_text="Log In" %}
    
    <div class="text-center text-sm text-gray-600">
        Don't have an Account? 
      <a href="{% url 'signup' %}" class="font-medium text-blue-600 hover:text-blue-500">
        Sign Up
      </a>
    </div>
  </div>
</div>
{% endblock %}