{% extends '_base.html' %}

{% block title %} Create new Post {% endblock title %}

{% block content %}

<div class="d-flex align-items-center justify-content-center bg-light py-5">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <div class="border-bottom pb-3 mb-4">
                    <h5 class="card-title text-center">Create new Post</h5>
                </div>
                
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {{form.as_p}}
                    
                    <div class="d-grid mt-4">
                        <button class="btn btn-primary" type="submit">Create Post</button>
                    </div>
                  
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
