{% extends '_base.html' %}

{% block title %} {{ book.title }} {% endblock title %}

{% block content %}

    {% include 'post/_post.html' %}      
<div     class="flex justify-center" >

    <div class="p-4">
        <h2 class="text-center mb-4 text-xl font-semibold">Comments</h2>

        <form class="p-0" hx-post="{% url 'comment' book.id %}" hx-target="#comments" hx-swap="afterbegin" method="post">
          {% csrf_token %}
          <div class="flex w-full md:w-3/4 gap-4">
            
            <input
              class="border border-gray-300 rounded-md p-2 w-full focus:ring-2 focus:ring-blue-500 focus:outline-none"
              id="comment"
              name="comment"
              placeholder="Comment..."
              required
            />
            
            <button type="submit" class="bg-blue-500 text-white text-sm px-4 py-2 rounded-md hover:bg-blue-600 transition">
                Post
            </button>
          </div>
          <div class="text-center mt-2">
            <div class="hidden htmx-indicator animate-spin border-4 border-gray-300 border-t-blue-500 rounded-full h-6 w-6"></div>
          </div>
        </form>
      
        <div id="comments" hx-get="{% url 'comments' book.id %}" hx-trigger="load" hx-swap="innerHTML">
        </div>
      
    </div>
</div>

{% endblock %}