<!-- post.html -->
<div class="bg-white rounded-lg shadow-lg mb-6 w-full md:w-3/4 lg:w-1/2 mx-auto transition-all hover:shadow-xl">
    {% include 'post/_post_header.html' %}
    <div class="h-80 md:h-96 overflow-hidden">
        <div class="flex justify-center items-center h-full p-4">
            {% if book.cover %}
                <img src="{{ book.cover.url }}" class="object-contain max-h-full rounded-md shadow-sm" alt="{{book.title}} Book Cover">
            {% else %}
                <img src="/static/img/no_image.png" class="object-contain max-h-full rounded-md opacity-75" alt="No Image Available">
            {% endif %}
        </div>
    </div>
    {% include 'post/_post_footer.html' %}
</div>