<!-- templates/post/_post_header.html -->
{% load static %}
{% load humanize %} 

<div class="flex items-center justify-between py-4 px-1 md:px-4">
  <div class="flex items-center space-x-3">
    {% if book.user.image %}
      <img src="{{book.user.image.url}}" class="w-10 h-10 rounded-full">
    {% else %}
      <img src="{% static 'img/user.png' %}" class="w-10 h-10 rounded-full">
    {% endif %}
    <div>
      <a href="{% url 'profile' book.user.id %}" 
         class="font-semibold text-gray-800 hover:text-gray-600">
        {{book.user.username}}
      </a>
      <p class="text-xs text-gray-500">{{book.posted_at|naturaltime}}</p>
    </div>
  </div>

  {% if book.user == user %}
  <div class="relative group  z-0">
    <button class="text-gray-500 hover:text-gray-700">
      <svg  width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
      </svg>

    </button>
    <div class="absolute right-0 w-32 bg-white rounded-md shadow-lg py-1 hidden group-hover:block">
      <a href="{% url 'book_edit' book.id %}" class="block px-4 py-2 hover:bg-gray-100">Edit</a>
      <a href="{% url 'book_delete' book.id %}" class="block px-4 py-2 hover:bg-gray-100 text-red-500">Delete</a>
      <a id="visibility-toggle{{book.id}}" 
         class="block px-4 py-2 hover:bg-gray-100"
         hx-post="{% url 'book_visibility' book.id %}"
         hx-target="#visibility-toggle{{book.id}}">
        {% if book.public %}Private{% else %}Public{% endif %}
      </a>
    </div>
  </div>
  {% endif %}
</div>

