{% load humanize %}

<div id="comment-{{comment.id}}" class="mb-3">
  <div class="flex justify-between items-center">
    <div class="flex items-center space-x-4">
      <a
        class="text-blue-600 font-semibold hover:underline"
        href="{% url 'profile' comment.author.id %}"
        >{{ comment.author }}</a
      >
      <p class="text-gray-500 text-xs">
        {{ comment.created_at|naturaltime }}
      </p>
    </div>
    {% if comment.author == user %}
    <i
      class="cursor-pointer text-red-500 hover:text-red-700 transition  bi bi-trash"
      hx-delete="{% url 'delete_comment' comment.id %}"
      hx-trigger="click"
      hx-target="#comment-{{comment.id}}"
      hx-swap="delete"
    >
    </i>
    {% endif %}
  </div>
  <p class="text-gray-800 mt-2">{{ comment.content }}</p>
  <hr class="border-gray-300 mt-2" />
</div>
