<!-- partial/message.html -->
{% load humanize %}
{% load markdown_filter %}

<div id="message-{{ message.id }}" class="group animate-fade-in">
  <div class="d-flex flex-column p-2">
    
    <!-- User Query -->
    <div class="d-flex justify-content-end mb-3">
      <div class="message-bubble user">
        <p class="">{{ message.query }}</p>
        <span class="d-block small text-end" style="font-size: 0.7rem; color: rgba(0, 0, 0, 0.4);">{{ message.timestamp|naturaltime }}</span>
      </div>
    </div>

    <!-- AI Response -->
    {% if message.response %}
      <div class="d-flex justify-content-start">
        <div class="message-bubble ai">
          {{ message.response |markdown|safe }}
          <span class="d-block small text-muted" style="font-size: 0.7rem;">{{ message.timestamp|naturaltime }}</span>
        </div>
      </div>
    {% else %}
      <div class="d-flex justify-content-start"
           hx-get="{% url 'generate_response' message.id %}"
           hx-trigger="load"
           hx-swap="outerHTML">
        <div class="message-bubble ai">
          <div class="d-flex align-items-center text-muted">
            <div class="spinner-border spinner-border-sm text-primary me-2" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span class="small">Analyzing...</span>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>